@import 'breakpoints';
@import 'flexbox';

.lightBox{
    max-height: 100vh;
}
.lightBack{
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
    @include sm-below-screen{
        display: none;
    }
}
.lightBody{
    @include sm-below-screen{
        display: none;
    }
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    .mainImg{
        max-width: 550px;
        @include sm-md-screen{
            max-width: 450px;
        }
        border-radius: 1.5rem;
    }
    .leftArrow, .rightArrow{
        height: 4rem;
        width: 4rem;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        svg{
            fill: none;
        }
        @include flexbox('', center, center);
        &:hover{
            cursor: pointer;
            svg{
                path{
                    stroke: #ff7e1b;
                }
            }
        }
    }
    .leftArrow{
        svg{
            transform: translate(-25%);
        }
    }
    .rightArrow{
        left: 100%;
    }
    .thumbnails{
        position: absolute;
        bottom: -9rem;
        width: 550px;
        @include sm-md-screen{
            bottom: -7rem;
            max-width: 450px;
        }
        @include flexbox('', center, space-evenly);
        img{
            max-width: 90px;
            @include sm-md-screen{
                max-width: 75px;
            }
            border-radius: 1rem;
            &:hover{
                cursor: pointer;
                opacity: 0.3;
            }
        }
        .thumbImageSelected{
            // border: 2px solid #ff7e1b;
            opacity: 0.5;
        }
    }
}